<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <html>
    <title>Onurrumbus Blog</title>

    <head>
        <title>Onurrumbus sein blog</title>
    </head>

<body>
    <div>
        <h1><a href="/">Onurrumbus Blog</a></h1>
    </div>

    <div>
        <p>published: 08.10.2019, 23:30</p>
        <h2><a href="">Das Abenteuer beginnt</a></h2>
        <p> Die Reise beginnt.</p>
    </div>

    <div>
        <p>published: 08.10.2019, 23:30</p>
        <h2><a href="">Ein langer Weg zum Erfolg</a></h2>
        <p>Ein Teil dieser Geschichte ist es</p>
        <p>der Versuch diese seite zu erstellen.</p>
    </div>
</body>

</html>